/*--!!Reference:
Navy Blue Website Color: #000033;
--EndRef!!*/

/*-----!!!!!BODY!!!!!-----*/

/*Provides font adjustment in autofill fields*/
.fitfont {
    font-size: 85%;
}

/*Provides very light grey background color for less eye strain*/
body {
  /*site-wide font styling will also go here!
  Don't do Tangerine. For example only. */
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  background-color:#fcfcfc;
}

/*Formats large container div*/
.backwrapper {
  width: 100%;
  height: 100%;
  text-align: center;
}

/*Bar for sponsor images in LP/About Page*/
.sponsor-bar{
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 1%;
  height:20%;
  width: 97%;
  overflow:auto;
  border-radius:0%;
  background-color: #000033;
  opacity: .8;
}

/* Remove the navbar's default margin-bottom and rounded borders, lowers opacity to 90% */
.active {
  background-color: #999999;
}

/*Set heights of page content divs (excluding navbars) to 90% of the view height. */
.row.content {
  height: 150vh;
  min-height: 90vh;
}
    
/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #000033; /* This color is the closest websafe color to Shark Share. Stack with #001541 */ 
  height: 100%;
  min-height: 100%;
}

/*Image formatting*/
.image-bar{
  height: 20vh;
  width: auto;
  padding-bottom: 1%;
}

/*Sponsors Content Boxes on Landing and About Pages*/
.sponsor-image{
  width:auto;
  height: 15vh;
  padding-left: 1%;
  padding-right: 1%;
}

/*Display for sponsor boxes on L/A pages*/
.horizontal{
  display:table;
    width: 95%;
    margin: 20px auto;
}

/*Formatting for main (usually) grey div on each page*/
.col-sm-8 {
  height: 95%;
  width: 60%;
  color:#000033;
  background-color: #cccccc;
  opacity: .8;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: left;
  overflow:auto;
}

/*Formatting for alt. main div (v.l.grey) on some pages*/
.col-sm-8-2 {
  height: 95%;
  width: 90%;
  border-radius: 1%;
  background-color: #ffffff;
  opacity: .9;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 0%;
  text-align: left;
}
/*background for all but LP/A pages*/
.backgroundsetting{
  background-color: #ffffff;
  background-size:cover;
  background-attachment: fixed;
}

/*Common styles for dashboards*/

/*Makes left side dash nav*/
.dashnav{
  height:100%;
  width:16%;
  background-color: #cccccc; /*rgba(228, 228, 255, .8);*/
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 0%;
  text-align:left;
  float:left;
  overflow: auto;
  padding-left: 1%;
}

/*Makes right side dash blurb*/
.dashtext{
  height:100%;
  width: 77%;
  background-color: #cccccc; /*rgba(228, 228, 255, .8);*/
  margin-right: 3%;
  margin-left: 0%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
  text-align: left;
  float:right;
  overflow: auto;
}


/*restrains sm column*/
.columnone {
  width: 25%;
}

.dash-button {
  padding-top: 2%;
  padding-bottom: 2%;
}

/*Formatting for db generated content*/
.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

.tt-input, /* UPDATE: newer versions use tt-input instead of tt-input */
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-input { /* UPDATE: newer versions use tt-input instead of tt-input */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}
/*End Formatting for autogen DB content*/


/*-----!!!!!HEADER/FOOTER!!!!!-------*/ 

/* Set Image Logos in header/footer */
.image-logo {
  height:3em;
  width:auto;
}
/*Set text logo in headers*/
.text-logo {
  height:1.25em;
  width:auto;
}

.navbar-nav {
  margin-top:.25em;
  margin-bottom:.5em;
  padding-top:0em;
  margin-left:.5em;
  margin-right:.5em;
}

/* Set footer background color (grey), white text and some padding */
footer { 
  background-color: #cccccc;
  color: white;
  padding: 15px;
}


/*-----!!!!MOBILE ADJUSTMENT!!!!-----*/

/* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}    
    }
