
/*Class for a centered grey content box*/
.about-grey {
	height: 70%;
	width: 95%;
	border-radius: 0%;
	background-color: #cccccc;
	padding-bottom: 2%;
	text-align:left;
}

.sponsor-bar{
	width:95%;
}

.image-bar{
    margin-top: 2%;
    margin-right:auto;
    margin-left:auto;
}

.image-bar img {
	width: 96%;
	max-width: 1284px;
	max-height: 179px;
}

/* Image formatting sponsor logos, also subject to change */

  .backgroundsetting{
  background: url("/assets/images/W_White6.jpg");
  background-size:cover;
  background-attachment: fixed;
}

