.height-70 {
  height: 70%;
}

.height-10 {
  height: 10%;
}

#search_results_table {
  height: 90%;
}

.fitfont {
    font-size: 80%;
    margin-right: 2%;
}

span,select,input{
	margin-right: 3%;
}

/*select{
	margin-right:5%;
}

input{
	margin-right:5%;
}*/

.form_div {
	display: block;
}

#search_bar {
/*	border-style: groove;
	border-width: 5px;*/
	padding: 20px;
}

#search_submit {
	margin: 10px 10px 0px 20px;
}

.well{
	border-radius:0%;
}

.fixed-table-container{
	border-radius:0%;
}